@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #f9f9f9; /* Light gray */
    --foreground: #4a4a4a; /* Dark gray */

    --card: #ffffff; /* White */
    --card-foreground: #4a4a4a; /* Dark gray */

    --popover: #ffffff; /* White */
    --popover-foreground: #4a4a4a; /* Dark gray */

    --primary: #ff7f50; /* Coral */
    --primary-foreground: #ffffff; /* White */

    --secondary: #ffe4b5; /* Moccasin */
    --secondary-foreground: #4a4a4a; /* Dark gray */

    --muted: #ffe4b5; /* Moccasin */
    --muted-foreground: #757575; /* Gray */

    --accent: #ffe4b5; /* Moccasin */
    --accent-foreground: #4a4a4a; /* Dark gray */

    --destructive: #d9534f; /* Red */
    --destructive-foreground: #ffffff; /* White */

    --border: #e0e0e0; /* Light gray */
    --input: #e0e0e0; /* Light gray */
    --ring: #4a4a4a; /* Dark gray */

    --radius: 0.5rem;
  }

  .dark {
    --background: #0e0e0e; /* Dark gray */
    --foreground: #ffffff; /* White */

    --card: #0e0e0e; /* Dark gray */
    --card-foreground: #ffffff; /* White */

    --popover: #0e0e0e; /* Dark gray */
    --popover-foreground: #ffffff; /* White */

    --primary: #ffffff; /* White */
    --primary-foreground: #4a4a4a; /* Dark gray */

    --secondary: #262626; /* Dark gray */
    --secondary-foreground: #ffffff; /* White */

    --muted: #262626; /* Dark gray */
    --muted-foreground: #a8a8a8; /* Light gray */

    --accent: #262626; /* Dark gray */
    --accent-foreground: #ffffff; /* White */

    --destructive: #9e2a2b; /* Dark red */
    --destructive-foreground: #ffffff; /* White */

    --border: #262626; /* Dark gray */
    --input: #262626; /* Dark gray */
    --ring: #d9d9d9; /* Light gray */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
